In [1]:
import requests
import pandas as pd
import aco_lib
import os

### Downloading Dataset

In [113]:
taxi_type = 'green'
year = '2020'

# download_file(f'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{taxi_type}/{taxi_type}_tripdata_{year}-01.csv.gz', f'data/raw/{taxi_type}/{year}')

aco_lib.download_file(f'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{taxi_type}/{taxi_type}_tripdata_{year}-01.csv.gz', f'../data/raw/{taxi_type}/{year}')

aco_lib.download_file('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv', f'../data/lookup')

'taxi_zone_lookup.csv'

In [11]:
# for taxi_type in ['green', 'yellow']:
#     for year in ['2020']:
#         for month in range(1,13):
#             fmonth = f'{month:02d}'

#             result = aco_lib.download_file(f'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{taxi_type}/{taxi_type}_tripdata_{year}-{fmonth}.csv.gz', f'../data/raw/{taxi_type}/{year}')

#             print(result)

### Importing pyspark

In [2]:
import pyspark
from pyspark.sql import SparkSession, types

In [3]:
spark = SparkSession.builder \
        .master('local[*]') \
        .appName('test') \
        .getOrCreate()

your 131072x1 screen size is bogus. expect trouble

23/07/12 15:36:25 WARN Utils: Your hostname, INTCOMP166 resolves to a loopback address: 127.0.1.1; using 172.22.239.222 instead (on interface eth0)
23/07/12 15:36:25 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/07/12 15:36:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Reading csv files

In [4]:
df = spark.read \
    .option('header', 'true') \
    .csv(f'../data/raw/green/2020/green_tripdata_2020-01.csv.gz')

In [5]:
df.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2019-12-18 15:52:30|  2019-12-18 15:54:39|                 N|         1|         264|         264|              5|          .00|        3.5|  0.5|    0.5|      0.01|           0|     null|                  0.3|        4.81|           1|        1|                   0|
|       2| 2020-01-01 00:45:58|  2020-01-01 00:56:39|                 N|         5|          66|          65|              2|         1.28|         20|    0|      0|      4.06|           0|     null|                  0.3|       24.36|           1|        2|                   0|
|       2| 2020-01-01 00:41:38|  2020-01-01 00:52:49|                 N|         1|         181|         228|              1|         2.47|       10.5|  0.5|    0.5|      3.54|           0|     null|                  0.3|       15.34|           1|        1|                   0|
|       1| 2020-01-01 00:52:46|  2020-01-01 01:14:21|                 N|         1|         129|         263|              2|         6.30|         21| 3.25|    0.5|         0|           0|     null|                  0.3|       25.05|           2|        1|                2.75|
|       1| 2020-01-01 00:19:57|  2020-01-01 00:30:56|                 N|         1|         210|         150|              1|         2.30|         10|  0.5|    0.5|         0|           0|     null|                  0.3|        11.3|           1|        1|                   0|
|       1| 2020-01-01 00:52:33|  2020-01-01 01:09:54|                 N|         1|          35|          39|              1|         3.00|       13.5|  0.5|    0.5|         0|           0|     null|                  0.3|        14.8|           1|        1|                   0|
|       2| 2020-01-01 00:10:18|  2020-01-01 00:22:16|                 N|         1|          25|          61|              1|         2.77|         11|  0.5|    0.5|         0|           0|     null|                  0.3|        12.3|           2|        1|                   0|
|       2| 2020-01-01 01:03:14|  2020-01-01 01:29:45|                 N|         1|         225|          89|              1|         4.98|       20.5|  0.5|    0.5|         0|           0|     null|                  0.3|        21.8|           2|        1|                   0|
|       2| 2020-01-01 00:04:11|  2020-01-01 00:09:48|                 N|         1|         129|         129|              1|          .71|        5.5|  0.5|    0.5|         0|           0|     null|                  0.3|         6.8|           2|        1|                   0|
|       2| 2020-01-01 00:25:52|  2020-01-01 00:32:16|                 N|         1|         129|          83|              1|          .80|        5.5|  0.5|    0.5|         0|           0|     null|                  0.3|         6.8|           2|        1|                   0|
|       2| 2020-01-01 00:47:32|  2020-01-01 00:59:25|                 N|         1|          82|         173|              1|         1.52|        9.5|  0.5|    0.5|         0|           0|     null|                  0.3|        10.8|           2|        1|                   0|
|       1| 2020-01-01 00:26:40|  2020-01-01 00:40:42|                 N|         1|          74|          69|              1|         3.80|         14|  0.5|    0.5|         0|           0|     null|                  0.3|        15.3|           2|        1|                   0|
|       2| 2020-01-01 00:38:47|  2020-01-01 00:46:02|                 N|         1|          74|          41|              1|         1.12|        6.5|  0.5|    0.5|         0|           0|     null|                  0.3|         7.8|           1|        1|                   0|
|       2| 2020-01-01 00:52:18|  2020-01-01 01:09:58|                 N|         1|          41|         127|              1|         5.67|         19|  0.5|    0.5|         0|           0|     null|                  0.3|        20.3|           2|        1|                   0|
|       2| 2020-01-01 00:16:01|  2020-01-01 00:26:40|                 N|         1|           7|         260|              1|         1.86|        9.5|  0.5|    0.5|         0|           0|     null|                  0.3|        10.8|           2|        1|                   0|
|       2| 2020-01-01 00:21:15|  2020-01-01 00:28:03|                 N|         1|           7|           7|              1|         1.42|          7|  0.5|    0.5|         0|           0|     null|                  0.3|         8.3|           2|        1|                   0|
|       2| 2020-01-01 00:35:42|  2020-01-01 01:02:00|                 N|         1|           7|         133|              1|        15.48|         43|  0.5|    0.5|      8.86|           0|     null|                  0.3|       53.16|           1|        1|                   0|
|       2| 2020-01-01 00:39:51|  2020-01-01 00:42:54|                 N|         1|         134|          28|              1|         1.15|        5.5|  0.5|    0.5|         1|           0|     null|                  0.3|         7.8|           1|        1|                   0|
|       1| 2020-01-01 00:00:21|  2020-01-01 00:10:19|                 N|         1|          89|          39|              1|         2.30|         10|  0.5|    0.5|         0|           0|     null|                  0.3|        11.3|           2|        1|                   0|
|       1| 2020-01-01 00:13:59|  2020-01-01 00:21:31|                 N|         1|          66|          65|              3|         1.00|        6.5|  0.5|    0.5|         0|           0|     null|                  0.3|         7.8|           2|        1|                   0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [6]:
df.printSchema()

root
 |-- VendorID: string (nullable = true)
 |-- lpep_pickup_datetime: string (nullable = true)
 |-- lpep_dropoff_datetime: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- ehail_fee: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- trip_type: string (nullable = true)
 |-- congestion_surcharge: string (nullable = true)

## Handling data type using pandas

green data

In [7]:
df_pandas = pd.read_csv('../data/raw/green/2020/green_tripdata_2020-01.csv', nrows=1000)
df_pandas.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-12-18 15:52:30,2019-12-18 15:54:39,N,1,264,264,5,0.00,3.5,0.50,0.5,0.01,0.0,NaN,0.3,4.81,1,1,0.00
1,2,2020-01-01 00:45:58,2020-01-01 00:56:39,N,5,66,65,2,1.28,20.0,0.00,0.0,4.06,0.0,NaN,0.3,24.36,1,2,0.00
2,2,2020-01-01 00:41:38,2020-01-01 00:52:49,N,1,181,228,1,2.47,10.5,0.50,0.5,3.54,0.0,NaN,0.3,15.34,1,1,0.00
3,1,2020-01-01 00:52:46,2020-01-01 01:14:21,N,1,129,263,2,6.30,21.0,3.25,0.5,0.00,0.0,NaN,0.3,25.05,2,1,2.75
4,1,2020-01-01 00:19:57,2020-01-01 00:30:56,N,1,210,150,1,2.30,10.0,0.50,0.5,0.00,0.0,NaN,0.3,11.30,1,1,0.00

In [18]:
spark.createDataFrame(df_pandas).schema

/home/aco/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/home/aco/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

StructType([StructField('VendorID', LongType(), True), StructField('lpep_pickup_datetime', StringType(), True), StructField('lpep_dropoff_datetime', StringType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('RatecodeID', LongType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('passenger_count', LongType(), True), StructField('trip_distance', DoubleType(), True), StructField('fare_amount', DoubleType(), True), StructField('extra', DoubleType(), True), StructField('mta_tax', DoubleType(), True), StructField('tip_amount', DoubleType(), True), StructField('tolls_amount', DoubleType(), True), StructField('ehail_fee', DoubleType(), True), StructField('improvement_surcharge', DoubleType(), True), StructField('total_amount', DoubleType(), True), StructField('payment_type', LongType(), True), StructField('trip_type', LongType(), True), StructField('congestion_surcharge', DoubleType(), True)])

In [8]:
schema_green = types.StructType([
    types.StructField('VendorID', types.IntegerType(), True), 
    types.StructField('lpep_pickup_datetime', types.TimestampType(), True), 
    types.StructField('lpep_dropoff_datetime', types.TimestampType(), True), 
    types.StructField('store_and_fwd_flag', types.StringType(), True), 
    types.StructField('RatecodeID', types.IntegerType(), True), 
    types.StructField('PULocationID', types.IntegerType(), True), 
    types.StructField('DOLocationID', types.IntegerType(), True), 
    types.StructField('passenger_count', types.IntegerType(), True), 
    types.StructField('trip_distance', types.DoubleType(), True), 
    types.StructField('fare_amount', types.DoubleType(), True), 
    types.StructField('extra', types.DoubleType(), True), 
    types.StructField('mta_tax', types.DoubleType(), True), 
    types.StructField('tip_amount', types.DoubleType(), True), 
    types.StructField('tolls_amount', types.DoubleType(), True), 
    types.StructField('ehail_fee', types.DoubleType(), True), 
    types.StructField('improvement_surcharge', types.DoubleType(), True), 
    types.StructField('total_amount', types.DoubleType(), True), 
    types.StructField('payment_type', types.IntegerType(), True), 
    types.StructField('trip_type', types.IntegerType(), True), 
    types.StructField('congestion_surcharge', types.DoubleType(), True)])

In [10]:
type(schema_green)

pyspark.sql.types.StructType

In [45]:
df = spark.read \
    .option("header", "true") \
    .schema(schema_green) \
    .csv('../data/raw/green/2020/green_tripdata_2020-01.csv')

In [46]:
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

yellow data

In [47]:
df_pandas = pd.read_csv('../data/raw/yellow/2020/yellow_tripdata_2020-01.csv', nrows=1000)
df_pandas.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2020-01-01 00:28:15,2020-01-01 00:33:03,1,1.2,1,N,238,239,1,6.0,3.0,0.5,1.47,0.0,0.3,11.27,2.5
1,1,2020-01-01 00:35:39,2020-01-01 00:43:04,1,1.2,1,N,239,238,1,7.0,3.0,0.5,1.50,0.0,0.3,12.30,2.5
2,1,2020-01-01 00:47:41,2020-01-01 00:53:52,1,0.6,1,N,238,238,1,6.0,3.0,0.5,1.00,0.0,0.3,10.80,2.5
3,1,2020-01-01 00:55:23,2020-01-01 01:00:14,1,0.8,1,N,238,151,1,5.5,0.5,0.5,1.36,0.0,0.3,8.16,0.0
4,2,2020-01-01 00:01:58,2020-01-01 00:04:16,1,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80,0.0

In [48]:
spark.createDataFrame(df_pandas).schema

/home/aco/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/home/aco/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

StructType([StructField('VendorID', LongType(), True), StructField('tpep_pickup_datetime', StringType(), True), StructField('tpep_dropoff_datetime', StringType(), True), StructField('passenger_count', LongType(), True), StructField('trip_distance', DoubleType(), True), StructField('RatecodeID', LongType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('payment_type', LongType(), True), StructField('fare_amount', DoubleType(), True), StructField('extra', DoubleType(), True), StructField('mta_tax', DoubleType(), True), StructField('tip_amount', DoubleType(), True), StructField('tolls_amount', DoubleType(), True), StructField('improvement_surcharge', DoubleType(), True), StructField('total_amount', DoubleType(), True), StructField('congestion_surcharge', DoubleType(), True)])

In [55]:
schema_yellow = types.StructType([
types.StructField('VendorID', types.IntegerType(), True), 
types.StructField('tpep_pickup_datetime', types.TimestampType(), True), 
types.StructField('tpep_dropoff_datetime', types.TimestampType(), True), 
types.StructField('passenger_count', types.IntegerType(), True), 
types.StructField('trip_distance', types.DoubleType(), True), 
types.StructField('RatecodeID', types.IntegerType(), True), 
types.StructField('store_and_fwd_flag', types.StringType(), True), 
types.StructField('PULocationID', types.IntegerType(), True), 
types.StructField('DOLocationID', types.IntegerType(), True), 
types.StructField('payment_type', types.IntegerType(), True), 
types.StructField('fare_amount', types.DoubleType(), True), 
types.StructField('extra', types.DoubleType(), True), 
types.StructField('mta_tax', types.DoubleType(), True), 
types.StructField('tip_amount', types.DoubleType(), True), 
types.StructField('tolls_amount', types.DoubleType(), True), 
types.StructField('improvement_surcharge', types.DoubleType(), True), 
types.StructField('total_amount', types.DoubleType(), True), 
types.StructField('congestion_surcharge', types.DoubleType(), True)])

## Write into parquet


green data

In [53]:
for month in range(1,13):
    fmonth = f'{month:02d}'
    df = spark.read \
    .option("header", "true") \
    .schema(schema_green) \
    .csv(f'../data/raw/green/2020/green_tripdata_2020-{fmonth}.csv')

    df = df.repartition(24)

    df.write.parquet(f'../data/parquet/green/2020/{fmonth}/', mode='overwrite')


yellow data

In [56]:
for month in range(1,13):
    fmonth = f'{month:02d}'
    df = spark.read \
    .option("header", "true") \
    .schema(schema_yellow) \
    .csv(f'../data/raw/yellow/2020/yellow_tripdata_2020-{fmonth}.csv')

    df = df.repartition(24)

    df.write.parquet(f'../data/parquet/yellow/2020/{fmonth}/', mode='overwrite')

23/07/11 15:02:35 WARN BasicWriteTaskStatsTracker: Expected 1 files, but only saw 0. This could be due to the output format not writing empty files, or files being not immediately visible in the filesystem.

23/07/11 15:02:35 WARN BasicWriteTaskStatsTracker: Expected 1 files, but only saw 0. This could be due to the output format not writing empty files, or files being not immediately visible in the filesystem.

23/07/11 15:02:37 WARN BasicWriteTaskStatsTracker: Expected 1 files, but only saw 0. This could be due to the output format not writing empty files, or files being not immediately visible in the filesystem.

23/07/11 15:02:37 WARN BasicWriteTaskStatsTracker: Expected 1 files, but only saw 0. This could be due to the output format not writing empty files, or files being not immediately visible in the filesystem.

## Spark Dataframe

In [60]:
df = spark.read.parquet('../data/parquet/yellow/2020/01/')

In [61]:
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

Column selection

In [63]:
df.select('tpep_pickup_datetime', 'tpep_pickup_datetime', 'PULocationID', 'DOLocationID').head(4)

[Row(tpep_pickup_datetime=datetime.datetime(2020, 1, 3, 22, 15, 43), tpep_dropoff_datetime=datetime.datetime(2020, 1, 3, 22, 18, 43), PULocationID=236, DOLocationID=236),
 Row(tpep_pickup_datetime=datetime.datetime(2020, 1, 3, 9, 54, 11), tpep_dropoff_datetime=datetime.datetime(2020, 1, 3, 9, 59, 25), PULocationID=234, DOLocationID=186),
 Row(tpep_pickup_datetime=datetime.datetime(2020, 1, 3, 8, 34, 27), tpep_dropoff_datetime=datetime.datetime(2020, 1, 3, 8, 43, 50), PULocationID=161, DOLocationID=143),
 Row(tpep_pickup_datetime=datetime.datetime(2020, 1, 3, 18, 17, 51), tpep_dropoff_datetime=datetime.datetime(2020, 1, 3, 19, 1, 28), PULocationID=7, DOLocationID=233)]

filtering by values

In [64]:
df.select('tpep_pickup_datetime', 'tpep_pickup_datetime', 'PULocationID', 'DOLocationID').filter(df['VendorID'] == 2).head(4)

[Row(tpep_pickup_datetime=datetime.datetime(2020, 1, 3, 22, 15, 43), tpep_pickup_datetime=datetime.datetime(2020, 1, 3, 22, 15, 43), PULocationID=236, DOLocationID=236),
 Row(tpep_pickup_datetime=datetime.datetime(2020, 1, 3, 9, 54, 11), tpep_pickup_datetime=datetime.datetime(2020, 1, 3, 9, 54, 11), PULocationID=234, DOLocationID=186),
 Row(tpep_pickup_datetime=datetime.datetime(2020, 1, 3, 8, 34, 27), tpep_pickup_datetime=datetime.datetime(2020, 1, 3, 8, 34, 27), PULocationID=161, DOLocationID=143),
 Row(tpep_pickup_datetime=datetime.datetime(2020, 1, 3, 18, 17, 51), tpep_pickup_datetime=datetime.datetime(2020, 1, 3, 18, 17, 51), PULocationID=7, DOLocationID=233)]

## Combining 2 datasets

In [68]:
df_green = spark.read.parquet('../data/parquet/green/*/*')
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')


df_yellow = spark.read.parquet('../data/parquet/yellow/*/*')
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [69]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [70]:
common_colums = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_colums.append(col)

In [72]:
from pyspark.sql import functions as F

df_green_sel = df_green \
    .select(common_colums) \
    .withColumn('service_type', F.lit('green'))

df_yellow_sel = df_yellow \
    .select(common_colums) \
    .withColumn('service_type', F.lit('yellow'))

In [74]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [78]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 1734051|
|      yellow|29986003|
+------------+--------+

### Querying a dataset with temp tables

In [79]:
df_trips_data.createOrReplaceTempView('trips_data')

In [80]:
spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY 
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 1734051|
|      yellow|29986003|
+------------+--------+

In [87]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_monthly_passenger_count,
    AVG(trip_distance) AS avg_monthly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [83]:
df_result.write.parquet('../data/report/revenue/')

In [91]:
df_result.coalesce(1).write.parquet('../data/report/revenue/', mode='overwrite')

## Joins in spark

In [93]:
df_result = spark.read.parquet('../data/report/revenue/')

In [94]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_monthly_passenger_count|avg_monthly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
|          33|2020-02-01 00:00:00|       green|   143526.4899999995|              5734.75|                 4636.0|         17553.62999999997|           507.6100000000002|                    2979.899999999955|          180998.43000000395|                              6393.5|         1.2772073921971252|       3.2689649681528756|
|          39|2020-02-01 00:00:00|       green|   45098.69000000028|              3701.75|                  263.5|                     22.47|          1062.4000000000005|                   417.00000000000625|           50568.56000000015|                                2.75|         1.1235059760956174|        6.542627877237858|
|         265|2020-02-01 00:00:00|       green|  12431.600000000004|               359.09|                  118.0|                    353.03|           461.3600000000001|                    98.69999999999963|          13827.279999999993|                                2.75|         1.5217391304347827|        8.645274725274728|
|         126|2020-02-01 00:00:00|       green|   7159.769999999998|                583.0|                   80.0|        29.729999999999997|          234.44000000000008|                    97.49999999999969|           8191.340000000009|                                 0.0|         1.1764705882352942|        4.280221606648199|
|         221|2020-01-01 00:00:00|       green|               382.5|                  1.0|                    3.0|                       0.0|           85.67999999999999|                                  2.1|                      474.28|                                 0.0|         1.2857142857142858|       12.874285714285714|
|         112|2020-02-01 00:00:00|       green|  21246.880000000005|              1030.51|                  681.0|        2607.8399999999992|          347.56000000000006|                   435.60000000000673|          27034.689999999773|                               783.5|         1.2501786990707648|        3.451225457007444|
|         160|2020-02-01 00:00:00|       green|   5285.659999999994|               434.25|                   42.0|        22.860000000000003|                      136.93|                    63.59999999999988|           5985.300000000005|                                2.75|         1.2467532467532467|        4.088018018018017|
|          35|2020-01-01 00:00:00|       green|   51364.22999999992|              3498.25|                  422.0|        33.809999999999995|          1007.9800000000005|                    538.5000000000097|          56871.419999999904|                                 5.5|         1.1042183622828785|        5.437524084778429|
|         175|2020-02-01 00:00:00|       green|   3626.689999999997|               268.75|                   13.5|                      2.82|                       122.4|                   34.200000000000045|          4068.3599999999997|                                 0.0|                        1.1|       6.1217796610169515|
|          76|2020-02-01 00:00:00|       green|  60807.780000000006|              5400.75|                  391.0|                     198.0|          1409.0299999999988|                      666.90000000001|           68901.86000000055|                                2.75|         1.2119565217391304|        5.530049792531118|
|         260|2020-02-01 00:00:00|       green|   80328.48999999995|              3379.75|                 3330.0|        7016.4100000000035|           585.6800000000003|                    2081.699999999854|           97264.58000000473|                               571.5|         1.5792827504445761|       2.5521661424077817|
|         182|2020-02-01 00:00:00|       green|   19047.14000000002|               1493.0|                  183.5|                    209.76|           676.0000000000005|                   267.00000000000233|          21901.749999999916|                                16.5|          1.275053304904051|        4.035101832993886|
|          18|2020-02-01 00:00:00|       green|   18348.30999999999|              1290.25|                  169.5|                     97.09|           738.1300000000003|                   204.60000000000034|          20882.729999999963|                               19.25|         1.2484076433121019|        5.599182305630032|
|          29|2020-01-01 00:00:00|       green|  25023.050000000025|               1154.5|                  230.0|        116.19000000000001|           802.9200000000004|                    225.0000000000028|          27554.409999999873|                                2.75|         1.1295681063122924|       7.8387127532777185|
|         156|2020-01-01 00:00:00|       green|             3983.88|                 26.0|                   32.5|                       0.0|           569.1600000000003|                   22.800000000000033|           4634.340000000001|                                 0.0|         1.4090909090909092|       17.990394736842106|
|         265|2020-01-01 00:00:00|       green|  12497.059999999998|               251.25|                   84.5|                    712.49|           405.4800000000002|                    88.49999999999952|          14043.179999999964|                                2.75|         1.4027149321266967|        7.998323170731705|
|         245|2020-01-01 00:00:00|       green|                80.0|                 2.75|                    0.0|                       0.0|                         0.0|                                  0.3|                       83.05|                                 0.0|                        6.0|                     51.9|
|         185|2020-02-01 00:00:00|       green|   15049.35000000002|               1268.0|                  111.0|                     52.91|           338.8800000000001|                   186.60000000000002|           17014.18999999997|                                 5.5|         1.1666666666666667|        4.479231927710845|
|         244|2020-01-01 00:00:00|       green|   186755.7100000004|              6773.25|                 4933.0|        19220.349999999897|          3665.5699999999865|                   3244.2000000005064|           232629.0299999792|                              8997.5|           1.33827209930924|         4.35525576368878|
|         216|2020-01-01 00:00:00|       green|  29464.290000000066|               1538.0|                  165.5|         88.10999999999999|           630.2400000000005|                    291.3000000000053|           32181.33999999991|                                2.75|                       1.28|        7.006078048780479|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
only showing top 20 rows

In [101]:
df_zones = spark.read.csv('../data/lookup/taxi_zone_lookup.csv', header=True)

In [102]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [104]:
df_result_joined = df_result.join(df_zones, df_result['revenue_zone'] == df_zones['LocationID'])

In [105]:
df_result_joined.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+----------+-------------+--------------------+------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_monthly_passenger_count|avg_monthly_trip_distance|LocationID|      Borough|                Zone|service_zone|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+----------+-------------+--------------------+------------+
|          33|2020-02-01 00:00:00|       green|   143526.4899999995|              5734.75|                 4636.0|         17553.62999999997|           507.6100000000002|                    2979.899999999955|          180998.43000000395|                              6393.5|         1.2772073921971252|       3.2689649681528756|        33|     Brooklyn|    Brooklyn Heights|   Boro Zone|
|          39|2020-02-01 00:00:00|       green|   45098.69000000028|              3701.75|                  263.5|                     22.47|          1062.4000000000005|                   417.00000000000625|           50568.56000000015|                                2.75|         1.1235059760956174|        6.542627877237858|        39|     Brooklyn|            Canarsie|   Boro Zone|
|         265|2020-02-01 00:00:00|       green|  12431.600000000004|               359.09|                  118.0|                    353.03|           461.3600000000001|                    98.69999999999963|          13827.279999999993|                                2.75|         1.5217391304347827|        8.645274725274728|       265|      Unknown|                  NA|         N/A|
|         126|2020-02-01 00:00:00|       green|   7159.769999999998|                583.0|                   80.0|        29.729999999999997|          234.44000000000008|                    97.49999999999969|           8191.340000000009|                                 0.0|         1.1764705882352942|        4.280221606648199|       126|        Bronx|         Hunts Point|   Boro Zone|
|         221|2020-01-01 00:00:00|       green|               382.5|                  1.0|                    3.0|                       0.0|           85.67999999999999|                                  2.1|                      474.28|                                 0.0|         1.2857142857142858|       12.874285714285714|       221|Staten Island|           Stapleton|   Boro Zone|
|         112|2020-02-01 00:00:00|       green|  21246.880000000005|              1030.51|                  681.0|        2607.8399999999992|          347.56000000000006|                   435.60000000000673|          27034.689999999773|                               783.5|         1.2501786990707648|        3.451225457007444|       112|     Brooklyn|          Greenpoint|   Boro Zone|
|         160|2020-02-01 00:00:00|       green|   5285.659999999994|               434.25|                   42.0|        22.860000000000003|                      136.93|                    63.59999999999988|           5985.300000000005|                                2.75|         1.2467532467532467|        4.088018018018017|       160|       Queens|      Middle Village|   Boro Zone|
|          35|2020-01-01 00:00:00|       green|   51364.22999999992|              3498.25|                  422.0|        33.809999999999995|          1007.9800000000005|                    538.5000000000097|          56871.419999999904|                                 5.5|         1.1042183622828785|        5.437524084778429|        35|     Brooklyn|         Brownsville|   Boro Zone|
|         175|2020-02-01 00:00:00|       green|   3626.689999999997|               268.75|                   13.5|                      2.82|                       122.4|                   34.200000000000045|          4068.3599999999997|                                 0.0|                        1.1|       6.1217796610169515|       175|       Queens|     Oakland Gardens|   Boro Zone|
|          76|2020-02-01 00:00:00|       green|  60807.780000000006|              5400.75|                  391.0|                     198.0|          1409.0299999999988|                      666.90000000001|           68901.86000000055|                                2.75|         1.2119565217391304|        5.530049792531118|        76|     Brooklyn|       East New York|   Boro Zone|
|         260|2020-02-01 00:00:00|       green|   80328.48999999995|              3379.75|                 3330.0|        7016.4100000000035|           585.6800000000003|                    2081.699999999854|           97264.58000000473|                               571.5|         1.5792827504445761|       2.5521661424077817|       260|       Queens|            Woodside|   Boro Zone|
|         182|2020-02-01 00:00:00|       green|   19047.14000000002|               1493.0|                  183.5|                    209.76|           676.0000000000005|                   267.00000000000233|          21901.749999999916|                                16.5|          1.275053304904051|        4.035101832993886|       182|        Bronx|         Parkchester|   Boro Zone|
|          18|2020-02-01 00:00:00|       green|   18348.30999999999|              1290.25|                  169.5|                     97.09|           738.1300000000003|                   204.60000000000034|          20882.729999999963|                               19.25|         1.2484076433121019|        5.599182305630032|        18|        Bronx|        Bedford Park|   Boro Zone|
|          29|2020-01-01 00:00:00|       green|  25023.050000000025|               1154.5|                  230.0|        116.19000000000001|           802.9200000000004|                    225.0000000000028|          27554.409999999873|                                2.75|         1.1295681063122924|       7.8387127532777185|        29|     Brooklyn|      Brighton Beach|   Boro Zone|
|         156|2020-01-01 00:00:00|       green|             3983.88|                 26.0|                   32.5|                       0.0|           569.1600000000003|                   22.800000000000033|           4634.340000000001|                                 0.0|         1.4090909090909092|       17.990394736842106|       156|Staten Island|     Mariners Harbor|   Boro Zone|
|         265|2020-01-01 00:00:00|       green|  12497.059999999998|               251.25|                   84.5|                    712.49|           405.4800000000002|                    88.49999999999952|          14043.179999999964|                                2.75|         1.4027149321266967|        7.998323170731705|       265|      Unknown|                  NA|         N/A|
|         245|2020-01-01 00:00:00|       green|                80.0|                 2.75|                    0.0|                       0.0|                         0.0|                                  0.3|                       83.05|                                 0.0|                        6.0|                     51.9|       245|Staten Island|       West Brighton|   Boro Zone|
|         185|2020-02-01 00:00:00|       green|   15049.35000000002|               1268.0|                  111.0|                     52.91|           338.8800000000001|                   186.60000000000002|           17014.18999999997|                                 5.5|         1.1666666666666667|        4.479231927710845|       185|        Bronx|      Pelham Parkway|   Boro Zone|
|         244|2020-01-01 00:00:00|       green|   186755.7100000004|              6773.25|                 4933.0|        19220.349999999897|          3665.5699999999865|                   3244.2000000005064|           232629.0299999792|                              8997.5|           1.33827209930924|         4.35525576368878|       244|    Manhattan|Washington Height...|   Boro Zone|
|         216|2020-01-01 00:00:00|       green|  29464.290000000066|               1538.0|                  165.5|         88.10999999999999|           630.2400000000005|                    291.3000000000053|           32181.33999999991|                                2.75|                       1.28|        7.006078048780479|       216|       Queens|    South Ozone Park|   Boro Zone|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+----------+-------------+--------------------+------------+
only showing top 20 rows

In [107]:
df_result_joined.drop('revenue_zone').show()

+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+----------+-------------+--------------------+------------+
|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_monthly_passenger_count|avg_monthly_trip_distance|LocationID|      Borough|                Zone|service_zone|
+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+----------+-------------+--------------------+------------+
|2020-02-01 00:00:00|       green|   143526.4899999995|              5734.75|                 4636.0|         17553.62999999997|           507.6100000000002|                    2979.899999999955|          180998.43000000395|                              6393.5|         1.2772073921971252|       3.2689649681528756|        33|     Brooklyn|    Brooklyn Heights|   Boro Zone|
|2020-02-01 00:00:00|       green|   45098.69000000028|              3701.75|                  263.5|                     22.47|          1062.4000000000005|                   417.00000000000625|           50568.56000000015|                                2.75|         1.1235059760956174|        6.542627877237858|        39|     Brooklyn|            Canarsie|   Boro Zone|
|2020-02-01 00:00:00|       green|  12431.600000000004|               359.09|                  118.0|                    353.03|           461.3600000000001|                    98.69999999999963|          13827.279999999993|                                2.75|         1.5217391304347827|        8.645274725274728|       265|      Unknown|                  NA|         N/A|
|2020-02-01 00:00:00|       green|   7159.769999999998|                583.0|                   80.0|        29.729999999999997|          234.44000000000008|                    97.49999999999969|           8191.340000000009|                                 0.0|         1.1764705882352942|        4.280221606648199|       126|        Bronx|         Hunts Point|   Boro Zone|
|2020-01-01 00:00:00|       green|               382.5|                  1.0|                    3.0|                       0.0|           85.67999999999999|                                  2.1|                      474.28|                                 0.0|         1.2857142857142858|       12.874285714285714|       221|Staten Island|           Stapleton|   Boro Zone|
|2020-02-01 00:00:00|       green|  21246.880000000005|              1030.51|                  681.0|        2607.8399999999992|          347.56000000000006|                   435.60000000000673|          27034.689999999773|                               783.5|         1.2501786990707648|        3.451225457007444|       112|     Brooklyn|          Greenpoint|   Boro Zone|
|2020-02-01 00:00:00|       green|   5285.659999999994|               434.25|                   42.0|        22.860000000000003|                      136.93|                    63.59999999999988|           5985.300000000005|                                2.75|         1.2467532467532467|        4.088018018018017|       160|       Queens|      Middle Village|   Boro Zone|
|2020-01-01 00:00:00|       green|   51364.22999999992|              3498.25|                  422.0|        33.809999999999995|          1007.9800000000005|                    538.5000000000097|          56871.419999999904|                                 5.5|         1.1042183622828785|        5.437524084778429|        35|     Brooklyn|         Brownsville|   Boro Zone|
|2020-02-01 00:00:00|       green|   3626.689999999997|               268.75|                   13.5|                      2.82|                       122.4|                   34.200000000000045|          4068.3599999999997|                                 0.0|                        1.1|       6.1217796610169515|       175|       Queens|     Oakland Gardens|   Boro Zone|
|2020-02-01 00:00:00|       green|  60807.780000000006|              5400.75|                  391.0|                     198.0|          1409.0299999999988|                      666.90000000001|           68901.86000000055|                                2.75|         1.2119565217391304|        5.530049792531118|        76|     Brooklyn|       East New York|   Boro Zone|
|2020-02-01 00:00:00|       green|   80328.48999999995|              3379.75|                 3330.0|        7016.4100000000035|           585.6800000000003|                    2081.699999999854|           97264.58000000473|                               571.5|         1.5792827504445761|       2.5521661424077817|       260|       Queens|            Woodside|   Boro Zone|
|2020-02-01 00:00:00|       green|   19047.14000000002|               1493.0|                  183.5|                    209.76|           676.0000000000005|                   267.00000000000233|          21901.749999999916|                                16.5|          1.275053304904051|        4.035101832993886|       182|        Bronx|         Parkchester|   Boro Zone|
|2020-02-01 00:00:00|       green|   18348.30999999999|              1290.25|                  169.5|                     97.09|           738.1300000000003|                   204.60000000000034|          20882.729999999963|                               19.25|         1.2484076433121019|        5.599182305630032|        18|        Bronx|        Bedford Park|   Boro Zone|
|2020-01-01 00:00:00|       green|  25023.050000000025|               1154.5|                  230.0|        116.19000000000001|           802.9200000000004|                    225.0000000000028|          27554.409999999873|                                2.75|         1.1295681063122924|       7.8387127532777185|        29|     Brooklyn|      Brighton Beach|   Boro Zone|
|2020-01-01 00:00:00|       green|             3983.88|                 26.0|                   32.5|                       0.0|           569.1600000000003|                   22.800000000000033|           4634.340000000001|                                 0.0|         1.4090909090909092|       17.990394736842106|       156|Staten Island|     Mariners Harbor|   Boro Zone|
|2020-01-01 00:00:00|       green|  12497.059999999998|               251.25|                   84.5|                    712.49|           405.4800000000002|                    88.49999999999952|          14043.179999999964|                                2.75|         1.4027149321266967|        7.998323170731705|       265|      Unknown|                  NA|         N/A|
|2020-01-01 00:00:00|       green|                80.0|                 2.75|                    0.0|                       0.0|                         0.0|                                  0.3|                       83.05|                                 0.0|                        6.0|                     51.9|       245|Staten Island|       West Brighton|   Boro Zone|
|2020-02-01 00:00:00|       green|   15049.35000000002|               1268.0|                  111.0|                     52.91|           338.8800000000001|                   186.60000000000002|           17014.18999999997|                                 5.5|         1.1666666666666667|        4.479231927710845|       185|        Bronx|      Pelham Parkway|   Boro Zone|
|2020-01-01 00:00:00|       green|   186755.7100000004|              6773.25|                 4933.0|        19220.349999999897|          3665.5699999999865|                   3244.2000000005064|           232629.0299999792|                              8997.5|           1.33827209930924|         4.35525576368878|       244|    Manhattan|Washington Height...|   Boro Zone|
|2020-01-01 00:00:00|       green|  29464.290000000066|               1538.0|                  165.5|         88.10999999999999|           630.2400000000005|                    291.3000000000053|           32181.33999999991|                                2.75|                       1.28|        7.006078048780479|       216|       Queens|    South Ozone Park|   Boro Zone|
+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+----------+-------------+--------------------+------------+
only showing top 20 rows

In [108]:


df_result_joined.drop('LocationID').write.parquet('../data/report/revenue_zones/')